<% content_for :head do %>
  <%= javascript_include_tag "link_hub", type: "module" %>
<% end %>

<div id="link-hub-root"
     data-logo-url="<%= asset_path('FreedomPower_Horizontal_WhiteOrange.png') %>"></div>